@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

/* ----------------------- Default styles ----------------------- */
a {
  text-decoration: none;
  color: gold;
}

/* ----------------------- Styles ----------------------- */
.homePage {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.banner {
  background-image: url("../public/banner2.jpg");
}
.bannerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 25px;
  height: 400px;
}
.tagLine {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
  text-align: center;
}

.carousel {
  display: flex;
  align-items: center;
  height: 50%;
  color: white;
}

.carousel a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.carousel .coinPrice {
  font-size: 22px;
  font-weight: 500;
}

.coinRow {
  font-family: "Montserrat";
  cursor: pointer;
}
.coinRow:hover {
  transition: 0.15s ease-in-out;
}
.coinFullname {
  display: flex;
  flex-direction: column;
}
.coinFullname .symbol {
  text-transform: uppercase;
  font-size: 22px;
}
.coinFullname .coinName {
  color: darkgray;
}
.marketCap {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}
.pagination .MuiPaginationItem-root {
  color: gold;
}

.coinPage {
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.coinPage .coinInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-top: 25px;
  border-right: 2px solid gray;
}
.coinInfo .marketData {
  align-self: start;
  width: 100%;
  padding: 10px 50px;
}
.marketData .rank.name {
  font-family: "Montserrat";
  font-weight: bold;
}
.marketData .rank.number {
  font-family: "Montserrat";
}

.coinChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin-top: 25px;
  padding: 40px;
}
.coinChart .buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
}
.buttonContainer .btn {
  border: 1px solid gold;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 22%;
  height: 4rem;
  font-family: "Montserrat";
  background-color: transparent;
}
.buttonContainer .btn:hover {
  background-color: gold;
}
/* ----------------------- Responsiveness ----------------------- */

@media (max-width: 900px) {
  .coinPage {
    flex-direction: column;
    align-items: center;
  }
  .coinPage .coinInfo {
    width: 100%;
  }
  .coinInfo .marketData {
    display: flex;
    justify-content: space-around;
  }
  .coinChart {
    width: 100%;
    /* margin-top: 0; */
    padding: 20px;
    /* padding-top: 0; */
  }
}

@media (max-width: 780px) {
  .coinInfo .marketData {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .coinInfo .marketData {
    align-items: start;
  }
}
