@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

/* ----------------------- Default styles ----------------------- */
a {
  text-decoration: none;
  color: gold;
}

/* ----------------------- Styles ----------------------- */
.banner {
  background-image: url("../public/banner2.jpg");
}
.bannerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 25px;
  height: 400px;
}
.tagLine {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
  text-align: center;
}

.carousel {
  display: flex;
  align-items: center;
  height: 50%;
  color: white;
}

.carousel a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.carousel .coinPrice {
  font-size: 22px;
  font-weight: 500;
}
