@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

/* ----------------------- Default styles ----------------------- */
a {
  text-decoration: none;
  color: gold;
}

/* ----------------------- Styles ----------------------- */
.homePage {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.banner {
  background-image: url("../public/banner2.jpg");
}
.bannerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 25px;
  height: 400px;
}
.tagLine {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
  text-align: center;
}

.carousel {
  display: flex;
  align-items: center;
  height: 50%;
  color: white;
}

.carousel a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.carousel .coinPrice {
  font-size: 22px;
  font-weight: 500;
}

.coinRow {
  font-family: "Montserrat";
  cursor: pointer;
}
.coinRow:hover {
  transition: 0.15s ease-in-out;
}
.coinFullname {
  display: flex;
  flex-direction: column;
}
.coinFullname .symbol {
  text-transform: uppercase;
  font-size: 22px;
}
.coinFullname .coinName {
  color: darkgray;
}
.marketCap {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}
.pagination .MuiPaginationItem-root {
  color: gold;
}

/* @media (min-width: 450px) {
  .mainTitle {
    font-size: 16px;
  }
} */
